:root {
  --text-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --accent-color: rgb(33, 150, 243);
  --title-text-color: #212121;
  --text-color: #757575;
  --accent-background: #2f303a;
  --second-text-color: #ffffff;
  --section-team-color: #f5f4fa;
  --icons-color: #afb1b8;
  --standart-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Убираем подчеркивание у ссылок */
a {
  text-decoration: none;
}
/* Убираем курсив у адреса */
address {
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style: none;
}
.item {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: var(--text-font);
  color: var(--text-color);
}
html {
  box-sizing: border-box;
}
.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* ========== HEADER ========== */
.header {
  border-bottom: 1px solid #ececec;
}
.navigation {
  display: flex;
  align-items: center;
}
.main-nav {
  display: flex;
  align-items: center;
}
.logotype {
  display: inline-block;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.logotype:focus,
.logotype:hover {
  color: var(--accent-color);
}
.logo-part-one {
  color: var(--accent-color);
}
.navigation-list {
  display: flex;
  margin-left: 93px;
}
.navigation-list-item {
  position: relative;
}
.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}
.navigation-list-link {
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms var(--standart-cubic);
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--accent-color);
}
.navigation-list-link.current {
  color: var(--accent-color);
}
.contact-header-list {
  display: flex;
  margin-left: auto;
}
.contact-header-item:not(:last-child) {
  margin-right: 50px;
}

.link-header {
  display: flex;
  align-items: center;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms var(--standart-cubic);
}

.link-header:hover,
.link-header:focus {
  color: var(--accent-color);
}
.clients-icon {
  fill: currentColor;
}

.heder-icon {
  display: inline-block;
  margin-right: 10px;
  fill: currentColor;
  box-sizing: border-box;
}
/* ========== END HEADER ========== */
/* ========== HERO ========== */

.hero {
  background-color: var(--accent-background);
  max-width: 1600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(./img/herobg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.hero-title {
  max-width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-text-color);
}
.modal-btn {
  font-family: inherit;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  background-color: var(--accent-color);
  padding: 10px 32px;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  white-space: nowrap;
  cursor: pointer;
  border: transparent;
}
.modal-btn :hover,
.modal-btn :focus {
  color: var(--accent-color);
}
/* ========== END HERO ========== */
/* ========== BENEFITS ========== */
.benefits {
  padding-top: 94px;
}
.benefits-list {
  display: flex;
  padding-left: 0;
  margin: 0;
}
.benefits-list-item {
  width: 270px;
}

.benefits-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.benefits-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
.benefits-list-item:not(:last-child) {
  margin-right: 30px;
}
.benefits-list-item::before {
  content: "";
  display: block;
  height: 120px;
  background-color: var(--section-team-color);
  border-radius: 4px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: center;
}
.benefits-list-item.antenna::before {
  background-image: url("./img/antenna.svg");
}
.benefits-list-item.clock::before {
  background-image: url("./img/clock.svg");
}
.benefits-list-item.diagram::before {
  background-image: url("./img/diagram.svg");
}
.benefits-list-item.astronaut::before {
  background-image: url("./img/astronaut.svg");
}
/* ========== END BENEFITS  ========== */

/* ========== ABOUT US  ========== */
.about {
  padding-top: 94px;
  padding-bottom: 94px;
}
.about-list {
  display: flex;
  padding-left: 0;
  margin: 0;
}
.about-list-item {
  position: relative;
  height: 294px;
}
.about-list-item:not(:last-child) {
  margin-right: 30px;
}
.about-img {
  display: block;
}

.about-subtitle {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 15px;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
}
.about-us-overlay {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--second-text-color);
}
.email-input {
  display: flex;
}
.subscribe-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  line-height: 1.25;
  color: var(--section-team-color);
  transition: border-color 250ms var(--standart-cubic);
}
/* ========== END ABOUT US  ========== */

/* ========== TEAM  ========== */

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  min-height: 42px;
  margin-top: 0;
}
.team {
  background-color: var(--section-team-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-card-text {
  padding: 30px 15px;
}
.team-list {
  display: flex;
  padding-left: 0;
  margin: 0;
}
.team-list-card {
  width: 270px;
  background-color: var(--second-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list-card:not(:last-child) {
  margin-right: 30px;
}
.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 16px;
}
.social-list {
  display: flex;
  justify-content: center;
}
.social-list-item:not(:last-child) {
  margin-right: 10px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  color: var(--icons-color);
  transition: color 250ms var(--standart-cubic),
    background-color 250ms var(--standart-cubic);
}
.social-link-ikon {
  fill: currentColor;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
  color: var(--second-text-color);
}

/* ==========  AND TEAM  ========== */
/* ==========  CLIENT  ========== */
.client-list {
  display: flex;
}
.client-list-item:not(:last-child) {
  margin-right: 30px;
}
.client-list-item {
  width: 170px;
  height: 90px;
}
.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  color: var(--icons-color);
  transition: color 250ms var(--standart-cubic),
    border-color 250ms var(--standart-cubic);
}
.client-icon {
  fill: currentColor;
}
.client {
  padding: 94px 0;
}
.client-link:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
/* ==========  AND CLIENT  ========== */
/* ==========  PORTFOLIO  ========== */
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  font-family: var (var(--text-font));
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--second-text-color);
  letter-spacing: 0.03em;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-img-wparrer {
  position: relative;
  overflow: hidden;
}
.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translateY(0);
}

.filter-list {
  margin-top: 0;
  padding-left: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-list-item:not(:last-child) {
  margin-right: 8px;
}
.filter-button {
  border: none;
  background: var(--section-team-color);
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: var(--title-text-color);
  text-align: center;
  letter-spacing: 0.03em;
  transition: background-color 250ms var(--standart-cubic),
    color 250ms var(--standart-cubic), box-shadow 250ms var(--standart-cubic);
}
.filter {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list-item {
  outline: 1px solid #eeeeee;
  width: 370px;
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-link {
  display: block;
  transition: box-shadow 250ms var(--standart-cubic);
}
.portfolio-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-text {
  padding: 20px 24px;
}
.portfolio-list-item:not(:nth-child(3n + 3)) {
  margin-right: 30px;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--second-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}
.portfolio-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* ==========  AND PORTFOLIO  ========== */
/* ==========  FOOTER  ========== */
.footer {
  background-color: var(--accent-background);
  padding-top: 60px;
  padding-bottom: 60px;
}
.logotype-footer {
  display: block;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  height: 31px;
  margin-bottom: 20px;
}
.logotype-footer:focus,
.logotype-footer:hover {
  color: var(--accent-color);
}

.contact-footer-item a:hover,
.contact-footer-item a:focus {
  color: var(--accent-color);
}
.map-link-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.mail-link-footer,
.phone-link-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.contact-footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.contact-footer-item {
  height: 21px;
}
.footer-social-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--second-text-color);
  margin-top: 0;
  margin-bottom: 20px;
}
.footer-content {
  display: flex;
  align-items: baseline;
}
.footer-social {
  margin-left: 70px;
}
.footer-cocial-list {
  display: flex;
}
.footer-list-items:not(:last-child) {
  margin-right: 10px;
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--second-text-color);
  transition: background-color 250ms var(--standart-cubic);
}
.footer-social-icon {
  fill: currentColor;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}
.email-input-box {
  margin-left: auto;
}
.email-input-title {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--second-text-color);
}
.sub-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 10px 28px;
  min-width: 200px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sub-btn:hover,
.sub-btn:focus {
  background-color: #188ce8;
}
.sub-icon {
  margin-left: 10px;
  fill: currentColor;
}
/* ==========  AND FOOTER  ========== */
/* ==========  BACKDROP  =========== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--second-text-color);
  opacity: 1;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 1000ms var(--standart-cubic),
    opacity 1000ms var(--standart-cubic);
}
.is-hidden .modal {
  transform: translateY(100%);
  opacity: 0;
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: inline-flex;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: var(--second-text-color);
  fill: currentColor;
  transition: color 250ms var(--standart-cubic);
}
.close-btn:hover,
.close-btn:focus {
  color: var(--accent-color);
}
.modal-title {
  margin-top: 0;
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.form-input {
  display: block;
  width: 100%;
  height: 40px;
  color: var(--title-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 12px 0 12px 42px;
  outline: none;
  transition: border-color 250ms var(--standart-cubic);
}
.form-input:hover + .modal-icon,
.form-input:focus + .modal-icon {
  fill: var(--accent-color);
}
.form-input:hover,
.form-input:focus {
  border-color: var(--accent-color);
}
.form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--text-color);
}
.form-field {
  position: relative;
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
  fill: var(--title-text-color);
  transition: fill 250ms var(--standart-cubic);
}
.coment {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  outline: none;
  transition: border-color 250ms var(--standart-cubic);
}
.coment:hover,
.coment:focus {
  border-color: var(--accent-color);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.agree-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.agree-link {
  display: inline-block;
  text-decoration: underline;
  color: var(--accent-color);
  margin-left: 3px;
}
.submit-btn {
  display: block;
  margin: 0 auto;
}

.agree-text::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
}
.submit-btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.checkbox:focus + .agree-text::before {
  outline: 2px solid var(--accent-color);
}

.checkbox:checked + .agree-text::before {
  background-image: url(./img/icon_check.svg);
  background-size: contain;
  background-origin: border-box;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

/*==========   AND BACKDROP  =============== */
